.product-page .product-title h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 22px;
    text-transform: capitalize;
}

.product-page .product-price {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-top: 10px;
}

.product-price span {
    font-family: "Roboto" 400;
    color: #db2121;
    font-size: 24px;
    margin-right: 25px;
}

.selector-wrapper, .select-wrapper {
    margin-top: 17px;
}

    .selector-wrapper label, .select-wrapper label {
        font-size: 13px;
        color: #333333;
        display: block;
    }

.custom-dropdown {
    margin-top: 5px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    margin-left: 2px;
    /*border-radius: 0px;*/
}

    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

.custom-dropdown__select {
    font-size: inherit;
    padding: .5em;
    margin: 0;
    width: 100%;
}

.custom-dropdown__select--white {
    background-color: #fff;
}

.custom-dropdown__select {
    display: block;
    height: 36px;
    padding: 0 34px 0 12px;
    background: transparent;
    outline: 0;
    border-radius: 0;
    cursor: pointer;
    text-indent: 1px;
    text-overflow: '';
    border: 1px solid #ebebeb;
}

.custom-dropdown::after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #bababa transparent transparent transparent;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#quantity {
    text-indent: 10px;
    height: 35px;
    max-width: 100%;
    border-radius: 0;
    width: 60px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}

.btn-detail:hover, .btn-detail:focus {
    opacity: .8;
    filter: alpha(opacity=80);
    outline: none;
}

.btn-detail {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid transparent;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    height: 48px;
    cursor: pointer;
}

    .btn-detail:after {
        content: "";
        background-size: 22px;
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        width: 48px;
        height: 48px;
    }

.btn-color-buy:after {
    background: url(http://hstatic.net/349/1000150349/1000203344/add-buy.svg?v=28) no-repeat center center;
    background-size: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-color-add:after {
    background: url(http://hstatic.net/349/1000150349/1000203344/add-cart.svg?v=28) no-repeat center center;
    background-size: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-color-add {
    background: #28b241;
    width: 200px;
    margin: 10px 0px;
}

.btn-color-buy {
    background: #fdbc0e;
    cursor: pointer;
    width: 200px;
    margin: 10px 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

p {
    margin: 0 0 20px 0;
    line-height: 21px;
}

.product-comment .nav-tabs {
    border: none;
}

.product-comment .nav {
    border-bottom: 1px solid #333333;
}

.product-comment li {
    float: left;
}

    .product-comment li :first-child {
        padding-left: 0px;
    }

    .product-comment li a {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: #333333;
        text-align: center;
    }

.product-comment #mota {
    padding: 10px;
    font-size: 14px;
}

    .product-comment #mota:after {
        left: 9%;
    }

.product-comment #binhluan:after {
    left: 26%;
}

.product-comment #like:after {
    left: 44%;
}

.notice {
    margin-bottom: 20px;
    color: #737373;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.tab-pane {
    padding: 10px;
}

.title-bl > h2, .title-like > h2 {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.title-bl, .title-like {
    border-bottom: 1px solid #333333;
    margin-bottom: 23px;
}

#like > h2 {
    font-size: 18px;
}

#binhluan, #like {
    margin-top: 20px;
}

/* Product */
.content .list-like .actionss {
    width: 100%;
    position: absolute;
    /*text-align: ;*/
    top: 140px;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

.product-list {
    clear: both;
}

.content-product-list .product-block {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.product-block .product-img {
    overflow: hidden;
    position: relative;
    overflow: hidden;
    text-align: center;
}

    .product-block .product-img img {
        max-width: 100%;
        margin: 0 auto;
    }

    .product-block .product-img .second-image {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
    }

.product-block .product-detail {
    margin: 10px auto 10px auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 0px;
}

.product-block .pro-name a {
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 0 0.5rem 0;
    color: #333333;
    font-size: 14px !important;
    line-height: 19px !important;
    margin: 0 !important;
    font-weight: 400;
}

    .product-block .pro-name a:hover {
        font-weight: 500;
        color: #28b241;
    }

.product-block .product-detail .pro-prices {
    margin: 0 0 10px;
}

.pro-prices .pro-price, .pro-prices .pro-price-del {
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    margin: 0;
}

.pro-prices .pro-price {
    padding-right: 15px;
    color: #db2121;
}

.pro-prices .pro-price-del {
    color: #898989;
    font-size: 13px;
}

.product-list .pull-center {
    text-align: center;
    margin-bottom: 15px;
}
