.container .row .content-contact .text-center {
    padding: 20px 0;
}

/****************** BEGIN -> PAGE LAYOUT OTHER ***********/
#search .search_box {
    height: 34px;
    width: 100%;
    padding: 0 10px 0 26px;
    vertical-align: middle;
    line-height: normal;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ebebeb;
}

.content-contact h3 {
    font-size: 22px;
}

.contact-form .input-lg, .contact-form .form-group-lg .form-control {
    height: 43px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
}

.contactFormWrapper {
    margin-bottom: 15px;
    font-size: 14px;
}
/** comment article **/
.form-control:focus {
    border-color: #8c8c8c;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.form-control {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ebebeb;
}

.comment div {
    margin-bottom: 20px;
}

#binhluan .date {
    color: #333333;
    float: right;
    font-size: 12px;
}

#article .comment_form {
    margin-top: 30px;
    margin-bottom: 30px;
}

    #article .comment_form .text {
        margin-bottom: 15px;
    }

#article #comment_body {
    width: 100%;
    height: 200px;
}

#binhluan .border-bottom:last-child {
    border-bottom: none;
}

#article .author {
    font-size: 14px;
    font-style: normal;
    text-transform: capitalize;
}

.content-pages {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

.product-page .slide-nav {
    display: none;
}

.article-body .info-more {
    margin: 10px 0;
}

#col-right {
    font-size: 14px;
    line-height: 30px;
}
