* {
    margin: 0px;
    padding: 0px;
}

.search-block {
    position: absolute;
    top: 75px;
    z-index: 1;
    box-shadow: 0 1px 2px #271e1a;
    background-color: white;
}

ul li {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
    outline: none;
    /* transition: all 0.2s ease-in-out; */
}

html body {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

header {
    height: 100%;
}

.header-top {
    width: 1170px;
    height: 130px;
    margin: auto;
}

    .header-top .header-logo {
        width: 100px;
        margin-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .header-top .header-info {
        margin: 30px 0px;
        text-align: right;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 400;
    }

        .header-top .header-info .header-subnav {
            margin-top: 10px;
        }



.header-subnav ul {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px dotted gray;
}

    .header-subnav ul li {
        display: inline-block;
        padding: 0 10px 0 10px;
        border-right: 1px solid gray;
    }

        .header-subnav ul li a:hover {
            color: #28b241;
        }

.header-subnav p {
    text-align: left;
    margin-left: 400px;
}

.header-subnav span {
    color: #28b241;
}


.header-subnav ul li:last-child {
    border: none;
}

.header-top .header-info .header-cart img {
    width: 50px;
    margin: 5px;
}

.header-top .header-info .header-cart {
    margin-top: 15px;
    float: right;
    margin-left: 10px;
    border: 1px solid #ebebeb;
}

    .header-top .header-info .header-cart:hover {
        /* border: 1px solid #28b241; */
    }

.header-info .form_holder {
    position: absolute;
    right: 16px;
    width: 300px;
    height: 100px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    display: none;
    z-index: 1;
    background-color: white;
}

.header-info .form_holder table.shop_table {
    width: 100%;
}

div.header-cart:hover .form_holder {
    display: block;
}

.cart-block .cart-block-content .toal-cart {
    margin-top: 10px;
}

.cart-block .cart-block-content .toal-cart .toal-price {
    font-size: 18px;
    color: #999;
}


.cart-block .cart-block-content .cart-buttons {
    overflow: hidden;
    width: 100%;
}

.cart-block .cart-block-content .cart-buttons a {
    width: 50%;
    float: left;
    margin-top: 12px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
}

.cart-block .cart-block-content .cart-buttons a:hover {
    opacity: 0.8;
}

.cart-block .cart-block-content .cart-buttons a.btn-my-cart {
    background: #eee;
}

.cart-block .cart-block-content .cart-buttons a.btn-check-out {
    background: #43af50;
    color: #fff;
}

.cart-number {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    position: absolute;
    background: #28b241;
    color: #ffffff;
    top: 11px;
    right: -9px;
    text-align: center;
    font-size: 12px;
}

/* ********** MENU ************* */

.menu .container .row {
    min-height: 50px;
    text-align: left;
    border: silver;
    left: 0;
}

.navbar {
    text-align: left;
}

    .navbar .active {
        color: red;
    }

    .navbar ul li a i {
        position: absolute;
        top: 15px;
        padding-left: 5px;
    }

.menu ul {
    margin: 0;
    padding: 0;
}

    .menu ul li {
        display: inline-block;
        position: relative;
    }

.menu li a {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    font-family: 'Roboto' 500;
    text-transform: uppercase;
}

    .menu li a:hover {
        color: #28b241;
    }

.menu ul li ul {
    position: absolute;
    display: block;
    visibility: hidden;
    background-color: white;
    z-index: 1;
    border-top: 5px solid red;
}

    .menu ul li ul li a {
        padding: 10px;
        margin: 5px;
        width: 190px;
    }

.menu ul li:hover ul {
    visibility: visible;
}

/* .thulai{
    position: fixed;
    top: 0px;
    z-index: 2;
} */

.header-banner img {
    width: 100%;
    height: auto;
}

.search .table-responsive {
    overflow-x: auto;
}

.Search {
    text-align: right;
    padding: 8px 16px;
}

.search-bar form input {
    border: 1px solid #ebebeb;
    padding: 12px;
    height: 37px;
    margin-bottom: 15px;
    color: #737373;
    font-size: 12px;
    background: #ebebeb;
    outline: 0;
    width: 100%;
    min-width: 270px;
}

.search-bar form input {
    margin-bottom: 0;
    padding-right: 30px;
    width: 100%;
}

.search-bar form {
    position: relative;
    border: 0;
}

    .search-bar form:before {
        display: block;
        font-size: 16px;
        position: absolute;
        top: 7px;
        right: 15px;
        font-weight: 400;
        font-family: 'FontAwesome';
        z-index: 99;
        color: #757575;
    }

    .search-bar form input:focus {
        background: #fff;
        border-color: #222;
        color: #222;
    }

.search-bar {
    margin-top: 5px;
    display: inline-block;
}

/* Giỏ hàng */


/*********** NỘI DUNG ***********  */

/* PHẦN NỘI DUNG */


.content .container .row {
    margin-right: -15px;
    margin-left: -15px;
}

.styled_header {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

    .styled_header h2 {
        font-size: 14px;
        line-height: 14px;
        margin: 0 0 10px;
        font-weight: 400;
    }

    .styled_header.use_icon {
        border-bottom: 1px dotted #333333;
    }

    .styled_header h3 {
        font-weight: 500;
        font-size: 20px;
    }

    .styled_header.use_icon h3 {
        margin: 0 0 20px;
    }

    .styled_header .icon {
        display: block;
        width: 30px;
        min-height: 20px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -15px;
        font-size: 20px;
        background: #fff;
        text-align: center;
    }

        .styled_header .icon img {
            max-width: 20px;
        }

.product-img {
    display: block;
    position: relative;
    overflow: hidden;
}

    .product-img img {
        width: 100%;
        height: auto;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .product-img:hover img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .product-img .actionss a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
        width: 100%;
        padding: 45% 20px;
        text-align: center;
        background-color: rgba(0,0,0,0.4);
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .product-img:hover .actionss a {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

.content .actionss {
    width: 100%;
    position: absolute;
    text-align: top;
    top: 210px;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

    .content .actionss > div {
        float: left;
        text-align: center;
        margin-bottom: 0;
        margin-left: 10px;
        cursor: pointer;
    }

    .content .actionss a {
        display: block;
        width: 43px;
        height: 43px;
        border-width: 1px;
        border-style: solid;
        color: #acacac;
        background-color: #fff;
        border-color: #acacac;
        line-height: 41px;
    }

    .content .actionss a {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
        background-color: #ffffff;
        border-radius: 0 !important;
        position: relative;
        border: none;
        width: 32px;
        height: auto;
        text-align: center;
        line-height: 32px;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        color: #333333;
    }

        .content .actionss a:hover {
            background-color: #28b241;
            box-shadow: 0 0 0 30px #28b241 inset;
            color: #ffffff;
        }

.content .content_SanPham .San-Pham,
.content .content_Moi .Moi,
.content .content_KhuyenMai .KhuyenMai {
    margin-bottom: 30px;
}

    .content .content_SanPham .San-Pham img,
    .content .content_Moi .Moi img,
    .content .content_KhuyenMai .KhuyenMai img {
        width: 260px;
        height: 260px;
        border-radius: 5%;
    }

/* .content .content_SanPham .San-Pham img:hover{
    transform: scale(1.05);
    transition: 0.3s;
} */

section.content article div.San-Pham p,
section.content article div.Moi p,
section.content article div.KhuyenMai p {
    text-align: center;
    font-size: 16px;
    margin: 10px 5px;
    line-height: 19px;
    margin: 0;
    font-family: 'Roboto' 400;
    font-weight: 400;
}

    section.content article div.San-Pham p a:hover,
    section.content article div.Moi p a:hover,
    section.content article div.KhuyenMai p a:hover {
        color: #FE9705;
        font-weight: 700;
    }

    /*.content input[type="button"] {
    width: 100px;
    height: 50px;
    margin: 10px 5px 60px;
    color: white;
    border-radius: 50px;
    border: 2px solid sienna;
    background-color: #FE9705;
    font-family: 'Lobster Two';
    font-weight: 700;
    font-size: 16px;
    outline: none;
}*/

    /*.button input:hover {
    background-color: red;
    cursor: pointer;
}*/

    section.content article div.San-Pham p span,
    section.content article div.Moi p span,
    section.content article div.KhuyenMai p span {
        color: red;
        font-family: 'Roboto' 400;
        font-weight: 400;
        font-size: 16px;
    }

.XemThem button {
    margin: 20px 0;
    margin-left: 46%;
    font-size: 16px;
}


/* PHẦN KHUYẾN MÃI */
.product-sale {
    position: absolute;
    z-index: 1;
}

    .product-sale span {
        padding: 2px 5px;
        border-radius: 3px;
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background: #28b241;
        border-width: thin;
        border-style: solid;
        border-color: #28b241;
        left: 0;
        top: 0;
    }

/* Banner bottom */
.block-home-category {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

.block-home-category img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(1);
}

.block-home-category:hover img {
    opacity: 0.9;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(1.05);
}


/* phần footer */
footer {
    /* width: 100%; */
    min-height: 300px;
    background-color: #e0cfff;
    background-image: url(../img/img_footer.png);
    color: white;
    font-size: 13px;
}


    footer a {
        color: white;
    }

    footer section h3 {
        font-family: 'Roboto' 400;
        color: white;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px;
        margin: 5px;
    }

    footer .column-item hr {
        background-color: white;
        margin: 5px 0px;
    }

.footer-block-content {
    padding: 10px 0px 0px;
}

    .footer-block-content ul li:first-child {
        padding-top: 0px;
    }

    .footer-block-content ul li {
        clear: both;
        border-bottom: 1px dashed #8a8a8a;
        padding: 20px 0 10px;
    }

        .footer-block-content ul li::after {
            display: table;
            content: "";
            clear: both;
        }

        .footer-block-content ul li .day {
            float: left;
        }

        .footer-block-content ul li .hour {
            float: right;
        }

footer section ul {
    padding-left: 0px;
}

    footer section ul li {
        margin: 15px 0px;
        text-align: left;
    }

footer .inner li a:hover {
    color: #28b241;
}

.footer-block ul li i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #7D726C;
    text-align: center;
    border-radius: 4px;
    margin-top: 5px;
}

#widget-social {
    display: inline-block;
    margin: 4px;
}

    #widget-social ul li {
        display: inline-block;
    }

    #widget-social i {
        font-size: 15px;
        margin: 2px;
    }

.social-icons .list-inline a i:hover {
    opacity: 0.75;
}

.facebook-social a i {
    background-color: #395AA1;
}

.google-social a i {
    background-color: #46B0E4;
}

.youtube-social a i {
    background-color: red;
}

.twitter-social a i {
    background-color: #46B0E4;
}

.instagram-social a i {
    background-color: rebeccapurple;
}

.message-social a i {
    background-color: #0084FF;
}

.li-social i {
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
}

.footer-block .form-list textarea {
    padding-top: 15px;
}

.footer-block .form-list input, .footer-block .form-list textarea {
    padding: 10px 15px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-transform: capitalize;
    height: 35px;
    width: 100%;
    outline: none;
}

.footer-block .form-list .wide .input-box textarea {
    height: 145px;
    text-transform: capitalize;
    width: 100%;
}


.form-list li .feild {
    margin-bottom: 10px;
}

    .form-list li .feild .input-box input:hover {
        border: 1px solid orange;
    }

.footer-block .buttons-set button span {
    font-family: 'Lobster Two';
    font-weight: 700;
    font-size: 14px;
}

.footer-block .buttons-set button.button {
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    overflow: visible;
    width: auto;
    border: 0;
    cursor: pointer;
    height: 35px;
    padding: 0 30px;
    white-space: nowrap;
    outline: none;
}

    .footer-block .buttons-set button.button:hover {
        background-color: #FE9705;
        color: white;
    }

.clear-fix {
    content: "";
    clear: both;
}

/* MOBILE */

.mobile-menu-icon {
    width: 100%;
    display: none;
}


/* Mobile: width < 740px */
@media only screen and (max-width: 46.1845em) {

    .Logo img {
        width: 150px;
    }

    .cart-info, .Logo, .navholder {
        display: none;
    }

    .mobile-menu-icon .menu-logo img {
        width: 40%;
        float: left;
        margin-left: 30px;
    }

    .mobile-menu-icon .nav-login, .cart-targets {
        font-size: 25px;
        float: right;
        margin: 2px;
        background-color: red;
        padding: 10px;
    }

    .mobile-menu-icon .inner_Search {
        width: 100%;
        margin-bottom: 1%;
    }

        .mobile-menu-icon .inner_Search input {
            padding: 5px 50px;
        }
}

/* Mobile & Table: width < 1024px */
@media only screen and (max-width: 63.9375em) {
    .mobile-menu-icon {
        display: block;
    }
}

/* Table: width >=740 and width < 10424px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .mobile-menu-icon {
        width: 100%;
        display: none;
    }
}

.Scroll i {
    font-size: 50px;
    color: #99ADC0;
    position: fixed;
    bottom: 90px;
    right: 35px;
}

.footer__Copyright {
    text-align: center;
}
