/* Menu left */
.leftsidebar-col h3.sb-title, .Content-title, h1 {
    font-family: 'Roboto' 400;
    font-size: 16px;
    text-transform: uppercase;
}

.sb-title::before {
    position: absolute;
    top: 30px;
    content: '';
    width: 45px;
    height: 2px;
    background-color: #28b241;
}

.Content-title::before {
    position: absolute;
    top: 54.5%;
    content: '';
    width: 45px;
    height: 2px;
    background-color: #28b241;
}


.leftsidebar-col ul li {
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;
}

    .leftsidebar-col ul li a:hover {
        color: #28b241;
    }

.list-group_l.banner-left {
    margin-bottom: 35px;
    margin-top: 20px;
}


/****blog ***/
/** sidebar blog **/
#blog-container {
    padding-left: 50px;
}

.seller-item {
    display: inline-block;
    width: 100%;
    clear: both;
    padding: 15px 0;
    font-size: 14px;
}

    .seller-item .sellers-image {
        float: left;
        margin: 0 15px 0 0;
        width: 100px;
    }

        .seller-item .sellers-image img {
            width: 100px;
        }

#tintuc .post-content {
    overflow: hidden;
    text-align: left;
}

.sidebar .article a {
    display: block;
}

.post-Content .date {
    color: #333333;
    font-size: 12px;
}

    .post-Content .date i {
        margin-right: 5px;
    }

.post-Content {
    overflow: hidden;
}

    .post-Content a:hover {
        color: #FE9705;
    }

.news-content {
    margin: 15px 0px;
    padding-bottom: 25px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.news-content h2.title-article a {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.news-content h2.title-article a:hover {
    color: #28b241;
}

.body-content ul {
    float: left;
    width: 100%;
}

.body-content .info-more li {
    position: relative;
    padding-left: 20px;
    display: inline-block;
}

    .body-content .info-more li:first-child {
        padding-left: 0px;
    }

.body-content .info-more a, .body-content .info-more time {
    color: #333333;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    padding-left: 5px;
}

.icon-hot {
    display: inline-block;
    margin: 2px 7px 0 0;
    min-height: 15px;
    width: 16px;
}

.icon-hrv {
    display: inline-block;
    margin: 2px 7px 0 0;
    min-height: 15px;
    width: 16px;
}

.news-content .body-content p {
    font-family: 'Roboto' 400;
    margin-bottom: 16px;
    text-align: justify;
    font-size: 14px;
}

.readmore.btn-rb {
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #333333;
    font-size: 11px;
    border: 1px solid #333333;
}

.readmore.btn-rb:hover {
    background-color: #28b241;
    color: #ffffff;
}
