
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/SanPham.css" />
<link rel="stylesheet" href="~/Content/CTSanPham.css" />

<div class="wrap-breadcrumb">
    <div class="clearfix container">
        <div class="row main-header">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                <ol class="breadcrumb breadcrumb-arrows">
                    <li><a href="/Home/Index" target="_self">Trang chủ</a></li>
                    <li><a href="/" target="_self">Danh mục</a></li>
                    <li class="active"><span>Tất cả sản phẩm</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="container content" ng-controller="CTSanPhamController">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 leftsidebar-col">
            <div class="group_sidebar">
                <div class="list-group navbar-inner">
                    <div class="mega-left-title btn-navbar title-hidden-sm">
                        <h3 class="sb-title">Danh mục</h3>
                    </div>
                    <ul class="nav" id="menu-blog">
                        <li class="current active" ng-repeat="l in listloai">
                            <a href="/SanPham/Index?maloai={{l.MaLoaiSP}}" title="{{l.TenLoai}}"><span>{{l.TenLoai}}</span></a>
                        </li>
                    </ul>
                </div>
                <div class="list-group_l banner-left hidden-sm hidden-xs">
                    <a href=""><img src="~/img/quangcao4.png" alt=""></a>
                </div>
                <!--SẢN PHẨM NỔI BẬT-->
                <div class="list-group_2 navbar-product">
                    <div class="mega-left-title btn-navbar title-hidden-sm">
                        <h3 class="product-title">Sản phẩm nổi bật</h3>
                    </div>
                    <div class="article seller-item" ng-repeat="a in ListSPNoiBat">
                        <div class="sellers-img">
                            <a href="/CTSanPham/Index?masp={{a.MaSP}}" title="{{a.TenSP}}" class="products-block-image content_img clearfix">
                                <img src="~/img/{{a.MaLoaiSP}}/{{a.HinhAnh}}" alt="">
                            </a>
                        </div>
                        <div class="post-content has-sellers-img ">
                            <a href="/CTSanPham/Index?masp={{a.MaSP}}" title="{{a.TenSP}}">{{a.TenSP}}</a><br>
                            <span class="price">{{a.DonGia}} VND</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" >
            <div id="wrapper-detail" class="product-page" ng-repeat="c in CTSanPham">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="surround">
                            <img src="~/img/{{c.MaLoaiSP}}/{{c.HinhAnh}}" title="{{c.TenSP}}" alt="{{c.TenSP}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="product-title">
                            <h1>{{c.TenSP}} - {{c.DonVi}}</h1>
                        </div>
                        <div class="product-price" id="price-preview">
                            <span>{{c.DonGia}} VND</span>
                        </div>
                        <form id="add-item-form" action="" method="post" class="variants clearfix">
                            <div class="select clearfix">
                                <div class="selector-wrapper">
                                    <label for="product-select-option-0">Kích thước</label>
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="single-option-selector custom-dropdown__select custom-dropdown__select--white" data-option="option1" id="product-select-option-0">
                                            <option value="L">L</option>
                                            <option value="M">M</option>
                                            <option value="S">S</option>
                                            <option value="XL">XL</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="selector-wrapper">
                                    <label for="product-select-option-1">Màu sắc</label>
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="single-option-selector custom-dropdown__select custom-dropdown__select--white" data-option="option2" id="product-select-option-1">
                                            <option value="Tím">Tím</option>
                                        </select>
                                    </span>
                                </div>
                                <select id="product-select" name="id" style="display:none">
                                    <option value="1009682057">L / Tím - 20,500₫</option>
                                    <option value="1009682058">M / Tím - 20,500₫</option>
                                    <option value="1009682059">S / Tím - 20,500₫</option>
                                    <option value="1009682060">XL / Tím - 20,500₫</option>
                                </select>
                            </div>
                            <div class="select-wrapper ">
                                <label>Số lượng</label>
                                <input id="quantity" type="number" name="quantity" min="1" value="1" class="tc item-quantity">
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                    <button id="add-to-cart" ng-click="AddCart(c)" title="Add to Cart" data-name="{{c.TenSP}} - {{c.DonVi}}" data-price="{{c.DonGia}}" data-image="{{c.MaLoaiSP}}/{{c.HinhAnh}}" class="btn-detail btn-color-add btn-min-width btn-mgt addtocart-modal" name="add">Thêm vào giỏ</button>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                    <button id="buy-now" class="btn-detail btn-color-buy btn-min-width btn-mgt">Mua ngay</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                        <div role="tabpanel" class="product-comment">

                            <ul class="nav visible-lg visible-md" role="tablist">
                                <li role="presentation" class="active"><a data-spy="scroll" data-target="#mota" href="#mota" aria-controls="mota" role="tab">Mô tả sản phẩm</a></li>
                                <li role="presentation">
                                    <a data-spy="scroll" href="#binhluan" aria-controls="binhluan" role="tab">Bình luận</a>
                                </li>
                                <li role="presentation">
                                    <a data-spy="scroll" href="#like" aria-controls="like" role="tab">Sản phẩm khác</a>
                                </li>
                            </ul>
                            <div id="mota">
                                <div class="product-description-wrapper">
                                    <p>
                                        <strong>Bắp cải tím Đà Lạt PF</strong> là thực phẩm rất tốt cho sức khỏe con người. Bên cạnh thành phần chứa nhiều vitamin C và K,
                                        <strong>Bắp cải tím Đà Lạt</strong> rất giàu anthocyanin polyphenols - chất chống oxy hóa, các tính năng kháng viêm khác nhau. Một số nghiên cứu cho rằng, anthocyanin có thể giúp giảm nguy cơ tim mạch, tiểu đường và một số bệnh ung thư.
                                        Nhờ giàu chất chống oxy hóa, <strong>Bắp cải tím Đà Lạt PF </strong> còn giúp làn da bạn mềm mại và sáng hơn.
                                    </p>
                                    <p>
                                        Với <strong>Bắp cải tím Đà Lạt PF</strong> , bạn có thể chế biến thành nhiều món ăn khác nhau.
                                        Loại bắp cải này được sử dụng phổ biến trong món salad trộn hay xào kèm với miến.
                                        Đặc điểm nổi bật của <strong>Bắp cải tím Đà Lạt PF</strong>  là độ tươi ngon, chất lượng được bảo đảm, không chứa hóa chất bảo quản.
                                        Với <strong> Bắp cải tím Đà Lạt PF</strong>, món ăn của bạn sẽ trở nên ngon miệng hơn bao giờ hết.
                                    </p>
                                    <hr>
                                    <p><strong>Có thể bạn chưa biết - Lợi ích bất ngờ từ việc bổ sung bắp cải tím trong thực đơn </strong></p>
                                    <p>
                                        <strong>Bắp cải tím</strong> thường được dùng để trộn salad, không chỉ màu sắc bắt mắt mà còn mang lại cho món ăn vị ngọt thanh, tươi mát.
                                        Các nghiên cứu đã chỉ ra rằng đây là thực phẩm rất tốt cho sức khỏe. Một số công dụng của <strong>bắp cải tím</strong> có thể kể tới như:
                                    </p>
                                    <ul>
                                        <li>Giảm cân</li>
                                        <br>
                                        <li>Tăng cường hệ miễn dịch</li>
                                        <br>
                                        <li>Cải thiện bệnh viêm loét dạ dày</li>
                                        <br>
                                        <li>Ngăn ngừa loãng xương</li>
                                        <br>
                                        <li>Ngăn ngừa ung thư</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="binhluan" style="height: 400px">
                                <div class="title-bl">
                                    <h2>Bình luận</h2>
                                </div>
                                <div class="product-comment-fb">
                                    <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop">
                                        <span style="vertical-align: bottom; width: 100%; height: 200px;">
                                            <iframe name="f256602566438bc" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/comments.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1d967e45a56f34%26domain%3Ddefault-fresh-food.myharavan.com%26origin%3Dhttps%253A%252F%252Fdefault-fresh-food.myharavan.com%252Ff588088507b4cc%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=828&amp;height=100&amp;href=https%3A%2F%2Fdefault-fresh-food.myharavan.com%2Fproducts%2Fbap-cai-tim-da-lat-pf&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v2.0&amp;width=" style="border: none; visibility: visible; width: 100%; height: 300px;" class=""></iframe>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SẢN PHẨM KHÁC-->
            <div class="col-md-12 col-sm-12 col-xs-12 list-like">
                <div id="like">
                    <div class="title-like">
                        <h2>Sản phẩm khác</h2>
                    </div>
                    <div class="row product-list">
                        <div class="col-md-3 col-sm-6 col-xs-12 pro-loop" ng-repeat="n in ListMoiNhat">
                            <div class="product-block product-resize fixheight" style="height: 262px;">
                                <div class="product-img image-resize view view-third">
                                    <a href="/CTSanPham/Index?masp={{n.MaSP}}" title="{{n.TenSP}}">
                                        <img src="~/img/{{n.MaLoaiSP}}/{{n.HinhAnh}}" alt="{{n.HinhAnh}}">
                                    </a>
                                    <div class="actionss">
                                        <div class="btn-cart-products">
                                            <a href="" ng-click="AddCart(n)" title="Add to Cart" data-name="{{n.TenSP}} - {{n.DonVi}}" data-price="{{n.DonGia}}" data-image="{{n.MaLoaiSP}}/{{n.HinhAnh}}">
                                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="view-details">
                                            <a href="/products/bap-bo-uc-gia-tay" class="view-detail">
                                                <span><i class="fa fa-clone"> </i></span>
                                            </a>
                                        </div>
                                        <div class="btn-quickview-products">
                                            <a class="quickview" data-handle="/products/bap-bo-uc-gia-tay">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detail clearfix">
                                    <h3 class="pro-name">
                                        <a href="/CTSanPham/Index?masp={{n.MaSP}}" title="{{n.TenSP}}">{{n.TenSP}}</a>
                                    </h3>
                                    <div class="pro-prices">
                                        <p class="pro-price">{{n.DonGia}} VND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCROLL TO TOP -->
    <div class="Scroll">
        <a href="#top" id="scrollToTop" title="Lên trên" style="display: block;" onclick="scrollToTop();return false">
            <i class="fas fa-arrow-alt-circle-up"></i>
        </a>
    </div>
</section>

<div class="clear-fix"></div>
