<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search.">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Hệ thống<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLGroupUser/Index">Nhóm người dùng</a>
                    </li>
                    <li>
                        <a href="/Admin/QLUser/Index">User</a>
                    </li>
                    <li>
                        <a href="/Admin/QLBinhLuan/Index">Bình luận</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-comment fa-fw"></i> Tin tức<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLTinTuc/Index">Danh mục</a>
                    </li>
                    <li>
                        <a href="TinTuc.html">Tin tức</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bell fa-fw"></i> Sản phẩm<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLSanPham/Index">Danh mục</a>
                    </li>
                    <li>
                        <a href="#">Tin tức</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-money fa-fw"></i> Hóa đơn nhập<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLHoaDonNhap/Index">Danh mục</a>
                    </li>
                    <li>
                        <a href="ChiTietHoaDon">Chi tiết hóa đơn</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-money fa-fw"></i> Đơn đặt hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLDonHang/Index">Danh mục</a>
                    </li>
                    <li>
                        <a href="ChiTietDonHang">Chi tiết đơn hàng</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bell fa-fw"></i> Khách hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLKhachHang/Index">Danh mục</a>
                    </li>
                    <li>
                        <a href="#">Tin tức</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bell fa-fw"></i> Nhà cung cấp<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/QLNhaCungCap/Index">Danh mục</a>
                    </li>
                    <li>
                        <a href="#">Tin tức</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý chung<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/Admin/About/Index">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="/Admin/Footer/Index">Foooter</a>
                    </li>
                    <li>
                        <a href="/Admin/Footer/Index">Menu</a>
                    </li>
                    <li>
                        <a href="/Admin/Footer/Index">Slide</a>
                    </li>
                    <li>
                        <a href="/Admin/Footer/Index">Phản hồi</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
