
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/dirPagination.js"></script>

<!-- Page Content -->
<div id="page-wrapper" style="min-height: 223px;" ng-controller="SanPhamController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Danh sách sản phẩm
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Danh sách sản phẩm
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form action="/Admin/User" method="get">
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="searchString">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                        <!-- Button trigger modal -->
                                        <button ng-click="Them()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
                                            Thêm mới
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Mã loại</th>
                                        <th>Đơn vị</th>
                                        <th>Mô tả</th>
                                        <th>Hình ảnh</th>
                                        <th>Đơn giá</th>
                                        <th width="100px">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="s in ListSanPham" total-items="totalCount"
                                        ng-class-even="even" ng-class-odd="odd" id="tr_{{s.MaSP}}">
                                        <td>{{s.MaSP}}</td>
                                        <td>{{s.TenSP}}</td>
                                        <td>{{s.MaLoaiSP}}</td>
                                        <td>{{s.DonVi}}</td>
                                        <td>{{s.MoTa}}</td>
                                        <td><img src="~/img/{{s.MaLoaiSP}}/{{s.HinhAnh}}" /></td>
                                        <td>{{s.DonGia}} VNĐ</td>
                                        <td>
                                            <a ng-click="Sua(s)" data-toggle="modal" data-target="#modelId" href="">Sửa</a>
                                            |
                                            <a ng-click="XoaSanPham(s)" href="">Xoá</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination-container">
                                <dir-pagination-controls max-size="maxSize"
                                                         direction-links="true"
                                                         boundary-links="true"
                                                         on-page-change="GetSanPhamList(newPageNumber)"
                                                         template-url="~/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                                @*<ul class="pagination">
                                        <li class="active"><a>1</a></li>
                                        <li><a href="/Admin/User?page=2">2</a></li>
                                        <li class="PagedList-skipToNext"><a href="/Admin/User?page=2" rel="next">»</a></li>
                                    </ul>*@
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" ng-model="_function">{{_function}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ma">Mã sản phẩm</label>
                        <input ng-model="s.MaSP" type="text" id="ma" class="form-control" name="" aria-describedby="helpId" placeholder="">
                        <label for="name">Tên sản phẩm</label>
                        <input ng-model="s.TenSP" type="text" id="name" class="form-control" name="" aria-describedby="helpId" placeholder="">
                        <label for="">Mã loại</label>
                        <select ng-model="s.MaLoaiSP" class="form-control" name="" id="">
                            <option ng-repeat="s in listloai">{{s.TenLoai}}</option>
                        </select>
                        <label for="Unit">Đơn vị</label>
                        <input ng-model="s.DonVi" type="text" id="Unit" class="form-control" name="" aria-describedby="helpId" placeholder="">
                        <label for="Describe">Mô tả</label>
                        <input ng-model="s.MoTa" type="text" id="Describe" class="form-control" name="" aria-describedby="helpId" placeholder="">
                        <label for="image">Hình ảnh</label>
                        <input type="file" id="image" class="form-control" name=""  aria-describedby="helpId" placeholder="" ng-select="UploadFiles($files,'HinhAnh')">
                        <label for="price">Đơn giá</label>
                        <input ng-model="s.DonGia" type="number" id="price" class="form-control" name="" aria-describedby="helpId" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="Save()" type="button" class="btn btn-primary">{{buttext}}</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->
</div>
<!-- /#page-wrapper -->




